<div class="panel panel-default">
    <div class="panel-heading">
        <h5>DATA LENGKAP CALON MAHASISWA</h5>
    </div>
    <div class="content">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h6>DATA PRIBADI</h6>
        </div>
        </div>
        <div style="padding: 0px 15px;">
        <p>
            <b>Pendaftaran:</b>
            <%= @form.reg %>
        </p>
        <p>
            <b>Nama:</b>
            <%= @form.name %>
        </p>

        <p>
            <b>Alamat:</b>
            <%= @form.alamat %>
        </p>

        <p>
            <b>Tempat Tanggal Lahir:</b>
            <%= @form.ttl %>
        </p>

        <p>
            <b>Telp / HP:</b>
            <%= @form.tlp_hp %>
        </p>

        <p>
            <b>Email:</b>
            <%= @form.email %>
        </p>

        <p>
            <b>Jenis Kelamin:</b>
            <%= @form.jk %>
        </p>

        <p>
            <b>Tinggi Badan:</b>
            <%= @form.tb %>
        </p>

        <p>
            <b>Berat Badan:</b>
            <%= @form.bb %>
        </p>

        <p>
            <b>Agama:</b>
            <%= @form.agama %>
        </p>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h6>DATA SEKOLAH</h6>
        </div>
        </div>
        <div style="padding: 0px 15px;">
        <p>
            <b>Asal Sekolah:</b>
            <%= @form.asal_sekolah %>
        </p>

        <p>
            <b>Alamat sekolah:</b>
            <%= @form.alamat_sekolah %>
        </p>

        <p>
            <b>Jurusan:</b>
            <%= @form.jurusan %>
        </p>

        <p>
            <b>Alamat Sekolah:</b>
            <%= @form.alamat_sekolah %>
        </p>

        <p>
            <b>Email Sekolah:</b>
            <%= @form.email_sekolah %>
        </p>

        <p>
            <b>Web Sekolah:</b>
            <%= @form.web_sekolah %>
        </p>

        <p>
            <b>Nama Guru BK:</b>
            <%= @form.nama_gbk %>
        </p>

        <p>
            <b>Telp Guru BK:</b>
            <%= @form.tlp_bk %>
        </p>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h6>DATA KELUARGA</h6>
        </div>
        </div>
        <div style="padding: 0px 15px;">
        <p>
            <b>Nama Orang Tua:</b>
            <%= @form.nama_ortu %>
        </p>

        <p>
            <b>Telp Orang Tua:</b>
            <%= @form.telp_ortu %>
        </p>

        <p>
            <b>Alamat Orang Tua:</b>
            <%= @form.alamat_ortu %>
        </p>

        <p>
            <b>Pekerjaan Orang Tua:</b>
            <%= @form.job_ortu %>
        </p>

        <p>
            <b>Penghasilan Orang Tua:</b>
            <%= @form.penghasilan_ortu %>
        </p>

        <p>
            <b>Program Studi:</b>
            <%= @form.prodi %>
        </p>
        </div>
    </div>
</div>