<html style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
No   :<br />
Lamp : 1 (Satu) Lembar<br />
Hal  : <b>Penerimaan Mahasiswa Baru</b><br />
<br />
<br />
Kepada Yth.
Sdra/i <b><span style="text-transform: uppercase"><%= @form.name %></span></b><br />
Putra/i Bpk/Ibu <b><span style="text-transform: uppercase"><%= @form.nama_ortu %></span></b><br />
Asal Sekolah <b><span style="text-transform: uppercase"><%= @form.asal_sekolah %><span></b><br />
<table border="0" width="30%">
<tr><td valign="top" width="10px">d/a&nbsp;</td><td><b><span style="text-transform: uppercase"><%= @form.alamat_sekolah %></span></b></td></tr>
</table>
<br />
Dengan hormat,
Menindak lanjuti formulir pendaftaran calon mahasiswa baru yang telah kami terima. Maka Keputusan Panitia Penerimaan Mahasiswa Baru (PMB) tahun 2015 <b>saudara dinyatakan  DITERIMA sebagai calon mahasiswa D3 AMA YPK Yogyakarta</b> dengan konsentrasi "<%= @form.prodi %>" yang di pilih. Terkait dengan hal tersebut <b>saudara diminta segera melakukan daftar ulang (her registrasi) paling lambat tanggal <%= Setting.first.du %></b>.<br /><br />
<b>Mekanisme Daftar Ulang (Her Registrasi) adalah sebagai berikut :</b><br/>
<ol>
  <li>Membayar biaya daftar ulang (her registrasi) <b>Rp. 920.000,-</b> (Sembilan Ratus Dua Puluh Ribu Rupiah) dengan <b>cara datang langsung ke Kampus AMA YPK Yogyakarta Jl. Ringroad Timur No. 43 Wonocatur Yogyakarta</b>, atau </li>
  <li><b>Setor ke rekening Bank BPD DIY Cabang Utama No. Rek. : 001.211.002068 a/n. Akademi Manajemen Administrasi YPK Yogyakarta</b></li>
  <li><b>Setor ke rekening Bank BRI KCP Gedong Kuning No. Rek. : 1008-01-001992506 a/n. Yayasan Pura Kumala.</b></li>
</ol>   
Biaya daftar ulang (her registrasi) merupakan bagian dari total biaya pendidikan dan sisa biaya pendidikan  Rp. 8.855.000,-  diangsur selama 3 (tiga) tahun.<br /> 
Biaya daftar ulang (her registrasi) dapat diambil kembali 100% apabila dikemudian hari ternyata tidak lulus<br /><br />
<center><b>JADWAL AKTIVASI PERKULIAHAN</b></center>
<table style="border: 1px solid black; border-collapse: collapse; border-spacing: 0; margin-top: 10px" align="center" width="83%">
  <thead>
     <tr>
    <th style="background: none repeat scroll 0 0 #f2f2f2; border: 1px solid black; font-size: 12px; padding: 8px 10px;" width="30px">DAFTAR ULANG<br />
(Her Registrasi I)*</th>
    <th style="background: none repeat scroll 0 0 #f2f2f2; border: 1px solid black; font-size: 12px; padding: 8px 10px;" width="20px">PENGAMBILAN JAS dan
PENGUKURAN SERAGAM</th>
    <th style="background: none repeat scroll 0 0 #f2f2f2; border: 1px solid black; font-size: 12px; padding: 8px 10px;" width="10px">KULIAH UMUM</th>
    <th style="background: none repeat scroll 0 0 #f2f2f2; border: 1px solid black; font-size: 12px; padding: 8px 10px;" width="10px">KULIAH PERDANA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td style="border: 1px solid black;padding: 8px 10px; text-align: center;"><span style="font-size: 10px;">Paling Lambat</span><br />
<%= Setting.first.du %></td>
    <td style="border: 1px solid black;padding: 8px 10px; text-align: center;"><%= Setting.first.jas_seragam %></td>
    <td style="border: 1px solid black;padding: 8px 10px; text-align: center;"><%= Setting.first.ku %></td>
    <td style="border: 1px solid black;padding: 8px 10px; text-align: center;"><%= Setting.first.kp %></td>
    </tr>
    <tr><td colspan="4" style="border: 1px solid black;padding: 8px 10px;">
(*) Pembayaran Biaya OBT, Seragam dan Atribut <br />
- Diharap datang tepat waktu pada saat Pengukuran Seragam tanggal <%= Setting.first.jas_seragam %><br />
- Pada saat Kuliah Perdana diharap memakai Pakaian Atas Putih, Bawahan Hitam dan Dasi Hitam Panjang.<br />
        </td></tr>
  </tbody>
</table>
<br />
Perlu kami sampaikan kembali bahwa saudara termasuk kategori pendaftar <%= @form.gelombang %> sehingga berhak atas fasilitas :
<ol>
  <li><b>Tidak ada sumbangan uang gedung</b></li>
  <li><b>Tidak ada sumbangan uang pengembangan akademik</b></li>
</ol>
Demikian pemberitahuan ini kami sampaikan, semoga kesempatan ini dapat dimanfaatkan sebaik-baiknya, mengingat penerimaan mahasiswa baru dapat ditutup sewaktu-waktu tanpa pemberitahuan jika jumlah calon mahasiswa telah tercapai. Semoga pilihan saudara untuk melanjutkan studi di AMA YPK dapat menghantarkan kesuksesan dimasa depan. Amin
<br /><br />
<center>
Yogyakarta, <%= Time.now.strftime("%d %B %Y") %><br /><br />
<!--<img src="http://pmb.amaypk.ac.id/assets/stemple.png"style="border-width: 0px; z-index: 3; height: 110px; position: absolute; margin-top: -29px; margin-left: -88px;">
<img src="http://pmb.amaypk.ac.id/assets/0004027801.png" style="border-width: 0px; z-index: 3; height: 110px; position: absolute; margin-top: 5px; margin-left: 9px;">
<!--<img src="/assets/0004027801.png" />-->
<b>
Mengetahui,<br /><br />
Anung Pramudyo, S.E., M.M.<br />
Direktur<br /></b>
</center>
<br />
Catatan :<br />
<ul>
  <li>Apabila ada hal yang perlu dikonfirmasi harap menghubungi Panitia Penerimaan Mahasiswa Baru (PMB) 2015 AMA YPK Yogyakarta Telp. (0274) 516993 (jam kerja) 081327738677, 087745433447 (24 jam online).</li>
</ul>
</html>