<%= form_for ([:admin, @setting]), :html => {:class => "form-horizontal"} do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>
        <ul>
            <% @setting.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <br />
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">Tahun Ajaran</label>
      <div class="col-sm-5">
          <%= f.text_field :ta, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">HP Penerima Pendaftaran</label>
      <div class="col-sm-5">
          <%= f.text_field :no_hp, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">Email Penerima Pendaftaran</label>
      <div class="col-sm-5">
          <%= f.text_field :email, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">Daftar Ulang</label>
      <div class="col-sm-5">
          <%= f.text_field :du, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">Pengambilan Jas dan Pengukuran Seragam</label>
      <div class="col-sm-5">
          <%= f.text_field :jas_seragam, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">Kuliah Umum</label>
      <div class="col-sm-5">
          <%= f.text_field :ku, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-5 control-label">Kuliah Perdana</label>
      <div class="col-sm-5">
          <%= f.text_field :kp, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Gelombang Khusus</label>
      <div class="col-sm-2">
          <%= f.text_field :glk_a, :class => "form-control"  %>
      </div>
      <label for="inputEmail3" class="col-sm-1 control-label">s/d</label>
      <div class="col-sm-2">
          <%= f.text_field :glk_b, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Gelombang I</label>
      <div class="col-sm-2">
          <%= f.text_field :glb1_a, :class => "form-control"  %>
      </div>
      <label for="inputEmail3" class="col-sm-1 control-label">s/d</label>
      <div class="col-sm-2">
          <%= f.text_field :glb1_b, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Gelombang II</label>
      <div class="col-sm-2">
          <%= f.text_field :glb2_a, :class => "form-control"  %>
      </div>
      <label for="inputEmail3" class="col-sm-1 control-label">s/d</label>
      <div class="col-sm-2">
          <%= f.text_field :glb2_b, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Username SMS</label>
      <div class="col-sm-4">
          <%= f.text_field :username, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Password SMS</label>
      <div class="col-sm-4">
          <%= f.text_field :password, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Key SMS</label>
      <div class="col-sm-5">
          <%= f.text_field :key, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
          <%= f.submit 'Update Setting', :class => 'btn btn-default' %>&nbsp;<%= link_to 'Test SMS', sms_admin_settings_path, :class => 'btn btn-primary'  %>&nbsp;<%= link_to 'Test Email', mail_admin_settings_path, :class => 'btn btn-primary'  %>
      </div>
  </div>
<% end %>
