<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>SETTING</h5>
            </div>
            <%= render 'form' %>
        </div>
    </div>
    <% unless Setting.first.username.blank? && Setting.first.password.blank? && Setting.first.key.blank? %>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>INFORMASI NOTIFIKASI SMS</h5>
            </div>
        </div>
    </div>
    <% end %>
</div>
