<%= form_for(@form, :validate => true, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

        <ul>
            <% @form.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <div class="panel-heading">
    <h5>DATA PRIBADI</h5>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">No Pendaftaran</label>
      <div class="col-sm-2">
          <%= f.text_field :reg, :disabled=>true, :class => "form-control", :value => "#{"%04d" % @reg}"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nama Lengkap</label>
      <div class="col-sm-4">
          <%= f.text_field :name, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Alamat Lengkap</label>
      <div class="col-sm-4">
          <%= f.text_area :alamat, :rows => "3", :class => "form-control"  %>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Tempat Tanggal Lahir</label>
      <div class="col-sm-4">
          <%= f.text_field :ttl, :class => "form-control"  %>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Telp / Handphone</label>
      <div class="col-sm-4">
          <%= f.text_field :tlp_hp, :class => "form-control"  %>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
          <%= f.text_field :email, :class => "form-control"  %>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Jenis Kelamin</label>
      <div class="col-sm-4">
          <div class="radio">
              <label>
                  <input type="radio" name="form[jk]" id="jk1" value="Laki - Laki" checked>
                  Laki laki
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[jk]" id="jk2" value="Perempuan">
                  Perempuan
              </label>
          </div>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Tinggi Badan</label>
      <div class="col-sm-1">
          <%= f.text_field :tb, :class => "form-control"  %>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Berat Badan</label>
      <div class="col-sm-1">
          <%= f.text_field :bb, :class => "form-control"  %>
      </div>
  </div>

  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Agama</label>
      <div class="col-sm-4">
          <div class="radio">
              <label>
                  <input type="radio" name="form[agama]" id="agama1" value="Islam" checked>
                  Islam
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[agama]" id="agama2" value="Katolik">
                  Katolik
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[agama]" id="agama3" value="Kristen">
                  Kristen
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[agama]" id="agama4" value="Hindu">
                  Hindu
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[agama]" id="agama5" value="Budha">
                  Budha
              </label>
          </div>
      </div>
  </div>
  <div class="panel-heading">
  <h5>DATA SEKOLAH</h5>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Asal Sekolah</label>
      <div class="col-sm-4">
          <%= f.text_field :asal_sekolah, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Jurusan</label>
      <div class="col-sm-4">
          <%= f.text_field :jurusan, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Alamat</label>
      <div class="col-sm-4">
          <%= f.text_area :alamat_sekolah, :rows => "3", :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
          <%= f.text_field :email_sekolah, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Website</label>
      <div class="col-sm-4">
          <%= f.text_field :web_sekolah, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nama Guru BK</label>
      <div class="col-sm-4">
          <%= f.text_field :nama_gbk, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Telp / Handphone</label>
      <div class="col-sm-4">
          <%= f.text_field :tlp_bk, :class => "form-control"  %>
      </div>
  </div>
  <div class="panel-heading">
    <h5>DATA ORANG TUA / WALI</h5>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nama Orang Tua / Wali</label>
      <div class="col-sm-4">
          <%= f.text_field :nama_ortu, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Telp / Handphone</label>
      <div class="col-sm-4">
          <%= f.text_field :telp_ortu, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Alamat Lengkap</label>
      <div class="col-sm-4">
          <%= f.text_area :alamat_ortu, :rows => "3", :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Pekerjaan Orang Tua/Wali</label>
      <div class="col-sm-4">
          <%= f.text_field :job_ortu, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Penghasilan Orang Tua/Wali</label>
      <div class="col-sm-8">
          <div class="radio">
              <label>
                  <input type="radio" name="form[penghasilan_ortu]" id="penghasilan_ortu1" value="< Rp. 1.500.000" checked>
                  < Rp. 1.500.000
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[penghasilan_ortu]" id="penghasilan_ortu2" value="Rp. 1.500.000 s/d Rp. 2.500.000">
                  Rp. 1.500.000 s/d Rp. 2.500.000
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[penghasilan_ortu]" id="penghasilan_ortu3" value="Rp. 2.500.000 s/d Rp. 3.500.000">
                  Rp. 2.500.000 s/d Rp. 3.500.000
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[penghasilan_ortu]" id="penghasilan_ortu4" value="> Rp. 3.500.000">
                   > Rp. 3.500.000
              </label>
          </div>
      </div>
  </div>
  <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Pilihan Jurusan</label>
      <div class="col-sm-10">
          <div class="radio">
              <label>
                  <input type="radio" name="form[prodi]" id="prodi1" value="Manajemen Administrasi Rumah Sakit">
                  Manajemen Administrasi Rumah Sakit
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[prodi]" id="prodi2" value="Manajemen Administrasi Obat dan Farmasi">
                  Manajemen Administrasi Obat dan Farmasi
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="form[prodi]" id="prodi3" value=" Manajemen Administrasi Perkantoran">
                   Manajemen Administrasi Perkantoran
              </label>
          </div>
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Kirimkan', :class => 'btn btn-default' %>
      </div>
  </div>
<% end %>
