<div class="panel panel-default">
    <div class="panel-heading">
        <h5>DATA CALON MAHASISWA</h5><span style="float: right; margin-top: -27px;"><%= link_to '<i class="glyphicon glyphicon-cloud-download"></i>'.html_safe, admin_forms_path(format: "xls") %> Download Exel<% if current_user.admin == true %>&nbsp;&nbsp;<input type="checkbox" id="selectAll" value="selectAll"> Pilih Semua<% end %></span>
    </div>  
    <%= form_tag remove_multiple_admin_forms_path do %>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="datatables">
        <thead>
            <tr>
                <th>NOMOR</th>
                <th>NAMA</th>
                <th>ALAMAT</th>
                <th>NO TELP / HP</th>
                <th>TGL MASUK</th>
                <th>TGL BALAS</th>
                 <th width="4%"><% if current_user.admin == true %><%= submit_tag "Hapus", :class => 'btn btn-primary' %><% end %></th>
            </tr>
        </thead>
        <tbody>
            <% @forms.each do |form| %>
              <tr>
                  <td class="col-md-1"><%= form.reg %></td>
                  <td class="col-md-1"><%= form.name %></td>
                  <td class="col-md-3"><%= form.alamat_pribadi_dusun %>&nbsp;<%= form.alamat_pribadi_rt %><br/><%= form.alamat_pribadi_kecamatan %>&nbsp;<%= form.alamat_pribadi_kelurahan_desa %><br /><%= form.alamat_pribadi_kabupaten %><%= form.alamat_pribadi_propinsi %></td>
                  <td class="col-md-1"><%= form.tlp_hp %></td>
                  <td class="col-md-1"><%= form.created_at.strftime("%d-%m-%Y") %></td>
                  <td class="col-md-1"><%= form.balasan.to_date.strftime("%d-%m-%Y") %></td>
                  <td class="col-md-2"><%#= link_to '<i class=" glyphicon glyphicon-envelope"></i>'.html_safe, reply_email_manual_admin_forms_path(:id => form.id), 'data-placement' => "top",  'title' => "Kirim Balasan Email Manual " %><%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, admin_form_path(form), 'data-placement' => "top",  'title' => "Tampilkan Lebih Lengkap"  %>
<% if current_user.admin == true %>
                        &nbsp;
                        <%= check_box_tag "forms[]", form.id %>
                      <% end %>
</td>
            <% end %>
        </tbody>
    </table>
    <% end %>
</div>
