<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">No Registrasi</Data></Cell>
        <Cell><Data ss:Type="String">Tanggal Daftar</Data></Cell>
        <Cell><Data ss:Type="String">Nama Lengkap</Data></Cell>
        <Cell><Data ss:Type="String">Alamat 1</Data></Cell>
        <Cell><Data ss:Type="String">Alamat 2</Data></Cell>
        <Cell><Data ss:Type="String">Alamat 3</Data></Cell>
        <Cell><Data ss:Type="String">Tempat Tanggal Lahir</Data></Cell>
        <Cell><Data ss:Type="String">Telp / HP</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Jenis Kelamin</Data></Cell>
        <Cell><Data ss:Type="String">Tinggi Badan</Data></Cell>
        <Cell><Data ss:Type="String">Berat Badan</Data></Cell>
        <Cell><Data ss:Type="String">Agama</Data></Cell>
        <Cell><Data ss:Type="String">Asal Sekolah</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Sekolah 1</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Sekolah 2</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Sekolah 3</Data></Cell>
        <Cell><Data ss:Type="String">Jurusan</Data></Cell>
        <Cell><Data ss:Type="String">Email Sekolah</Data></Cell>
        <Cell><Data ss:Type="String">Web Sekolah</Data></Cell>
        <Cell><Data ss:Type="String">Nama Guru BK</Data></Cell>
        <Cell><Data ss:Type="String">Telp Guru BK</Data></Cell>
        <Cell><Data ss:Type="String">Nama Orang Tua</Data></Cell>
        <Cell><Data ss:Type="String">Telp Orang Tua</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Orang Tua 1</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Orang Tua 2</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Orang Tua 3</Data></Cell>
        <Cell><Data ss:Type="String">Pekerjaan Orang Tua</Data></Cell>
        <Cell><Data ss:Type="String">Penghasilan Orang Tua</Data></Cell>
        <Cell><Data ss:Type="String">Program Studi</Data></Cell>
      </Row>
    <% @forms.each do |form| %>
      <Row>
        <Cell><Data ss:Type="String"><%= form.reg %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.created_at.strftime("%d %m %Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_pribadi_dusun %> <%= form.alamat_pribadi_rt %><%= form.alamat_pribadi_kelurahan_desa %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_pribadi_kecamatan %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_pribadi_kabupaten %> <%= form.alamat_pribadi_propinsi %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.ttl %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.tlp_hp %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.jk %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.tb %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.bb %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.agama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.asal_sekolah %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_sekolah_dusun %> <%= form.alamat_sekolah_rt %> <%= form.alamat_sekolah_kelurahan_desa %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_sekolah_kecamatan %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_sekolah_kabupaten %> <%= form.alamat_sekolah_propinsi %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.jurusan %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.email_sekolah %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.web_sekolah %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.nama_gbk %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.tlp_bk %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.nama_ortu %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.telp_ortu %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_ortu_dusun %> <%= form.alamat_ortu_rt %> <%= form.alamat_ortu_kelurahan_desa %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_ortu_kecamatan %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.alamat_ortu_kabupaten %> <%= form.alamat_ortu_propinsi %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.job_ortu %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.penghasilan_ortu %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form.prodi %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

