<div class="row">
    <% unless gelombang(Date.new(@year, @month, @date)) == "Close" %>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>PENDAFTARAN <%= gelombang(Date.new(@year, @month, @date)) %></h5>
            </div>
            <%= render 'form' %>
        </div>
    </div>
    <div class="col-md-5">
    <% else %>
    <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      Mohon Maaf !! .. Pendaftaran Online Telah di Tutup
    </div>
    <% end %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>KETENTUAN PENDAFTARAN</h5>
            </div>
            <div style="padding: 25px 11px">
                <ol>
                    <li>Pendaftaran dibuka pada tanggal <%= indonesia_date(Setting.first.glk_a.to_date) %> s/d <%= indonesia_date(Setting.first.glb2_b.to_date) %> dengan tahapan sebagai berikut</li>
                    <ul>
                        <li>Gelombang Khusus&nbsp;&nbsp;: <%= indonesia_bulan(Setting.first.glk_a.to_date) %> s/d <%= indonesia_date(Setting.first.glk_b.to_date) %></li>
                        <li>Gelombang I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= indonesia_year(Setting.first.glb1_a.to_date) %> s/d <%= indonesia_date(Setting.first.glb1_b.to_date) %></li>
                        <li>Gelombang II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= indonesia_year(Setting.first.glb2_a.to_date) %> s/d <%= indonesia_date(Setting.first.glb2_b.to_date) %></li>
                    </ul>
                    <li>Sistem seleksi calon mahasiswa baru sebagai berikut :</li>
                    <ul>
                    <li>Seleksi kelengkapan administrasi</li>
                    <li>Wawancara umum (dilakukan pada saat daftar ulang)</li>
                    <li>Seleksi penelusuran minat dan bakat</li>
                    <li>Penerimaan mahasiswa baru diutamakan 150 calon pendaftar pertama</li>
                    </ul>
                    <li>Khusus bagi calon mahasiswa yang mendaftar sebelum tanggal <%= indonesia_date(Setting.first.glk_b.to_date) %> tidak dipungut biaya pendaftaran</li>
                    <li>Pendaftaran sewaktu - waktu dapat di tutup, jika quota mahasiswa baru telah terpenuhi</li>
                    <li>Keputusan panitia bersifat mutlak dan tidak dapat diganggu - gugat</li>
                </ol>
            </div>
            <div class="panel-heading">
                <h5>KETENTUAN KHUSUS</h5>
            </div>
            <div style="padding: 25px 11px">
                Biaya daftar ulang mahasiswa baru yang telah dibayarkan dapat diminta kembali apabila :
                <ol>
                    <li>Dinyatakan tidak lulus Ujian Nasional (UN) <%= Setting.first.ta %> dengan menunjukkan bukti tertulis dari sekolah</li>
                    <li>Diterima di Perguruan Tinggi Negeri jenjang strata satu tahun <%= Setting.first.ta %> (dibawah Departemen Pendidikan Nasional RI) malalui Program Seleksi Nasional Masuk Perguruan TInggi Negeri (SNMPTN), Seleksi Bersama Masuk Perguruan Tinggi Negeri (SBMPTN), program reguler melalui Ujian Masuk (UM) masing masing PTN yang dikelola secara otonomi atau melalui program bebas tes seleksi (PBUD) tahun <%= Setting.first.ta %> (dengan membawa bukti "DITERIMA"). Batas waktu pengambilan biaya daftar ulang tersebut maximal 30 hari setelah pengumuman. </li>
                </ol>
            </div>
            <div class="panel-heading">
                <h5>SYARAT SYARAT PENDAFTARAN</h5>
            </div>
            <div style="padding: 25px 11px">
                <ol>
                    <li>Lulusan SMA /SMK / MA semua jurusan</li>
                    <li>Pas foto berwarna 4x6 2 Lembar</li>
                    <li>Materai 6000 dan perangko kilat 2 buah</li>
                     <li>Fotocopy ijasah 2 lembar (dapat menyusul bagi yang masih kelas XII)</li>
                    <li>Biaya pendaftaran Rp. 100.000</li>
                    <li>Fotocopy akte kelahiran 2 lembar dan fotocopy identitas diri (KTP/SIM/Kertu Pelajar)</li>
                    
                   
                </ol>
            </div>
            <div class="panel-heading">
                <h5>TATACARA PEMBAYARAN</h5>
            </div>
            <div style="padding: 25px 11px">
                <ol>
                    <li>Langsung datang ke kampus AMA YPK Yogyakarta, Jl. Ringroad Timur No 43 Wonocatur.Telp. (0274) 516993, Fax. (0274) 516993 Yogyakarta atau</li>
                    <li>Transfer melalui Bank BPD DIY Cabang Utama No. Rek : 001.211002068 a/n Akademi Manajemen Administrasi YPK Yogyakarta atau</li>
                    <li>Transfer melalui Bank BRI KCP Gedung Kuning No. Rek : 1008-01-001992506 a/n Yayasan Pura Kumala</li>
                </ol>
            </div>
             <div class="panel-heading">
                <h5>CONTACT PERSON</h5>
            </div>
            <div style="font-weight: bold;
    padding: 25px 11px;
    text-align: center;">
                Bapak Daniar 085385255429
            </div>
        </div>
    </div>
</div>
