<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>PENDAFTARAN BERHASIL</h5>
            </div>
             <div style="padding: 25px 11px">
            Kepada Yth.
Sdra/i <b><span style="text-transform: uppercase"><%= @form.name %></span></b><br />
Putra/i Bpk/Ibu <b><span style="text-transform: uppercase"><%= @form.nama_ortu %></span></b><br />
Asal Sekolah <b><span style="text-transform: uppercase"><%= @form.asal_sekolah %><span></b><br />
<table border="0" width="30%">
<tr><td valign="top" width="10px">d/a&nbsp;</td><td><b><span style="text-transform: uppercase"><%= @form.alamat_sekolah %></span></b></td></tr>
</table>
            <br />
            Terimakasih anda telah terdaftar sebagai Calon Mahasiswa Baru Akademi Manajemen Administrasi YPK, untuk selanjutnya diharapkan agar segera menginrimkan "Syarat Pendaftaran" ke kampus yang beralamatkan di :<br><br>
            <center>Jl. Ringroad Timur No 43 Wonocatur.<br />Telp. (0274) 516993, Email. pmb_ama.jogja@yahoo.com, Fax. (0274) 516993 Yogyakarta</center><br />
            Setelah proses verivikasi data selesai panitia akan segera mengirim surat balasan via POS serta melalui e-mail <%= @form.email %><br /><br />
NB : Informasi selengkapnya saudara/i <b><span style="text-transform: uppercase"><%= @form.name %></span></b>, dapat menghubungi contact person :<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Joko Prasetyo : 087745433447, Marsini : 081327738677
            <br /><br /><br />
            <center><%= link_to 'Selesaikan', root_path, :class => 'btn btn-primary' %></center>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>KETENTUAN PENDAFTARAN</h5>
            </div>
            <div style="padding: 25px 11px">
                <ol>
                    <li>Pendaftaran dibuka pada tanggal <%= indonesia_date(Setting.first.glk_a.to_date) %> s/d <%= indonesia_date(Setting.first.glb2_b.to_date) %> dengan tahapan sebagai berikut</li>
                    <ul>
                        <li>Gelombang Khusus&nbsp;&nbsp;: <%= indonesia_bulan(Setting.first.glk_a.to_date) %> s/d <%= indonesia_date(Setting.first.glk_b.to_date) %></li>
                        <li>Gelombang I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= indonesia_year(Setting.first.glb1_a.to_date) %> s/d <%= indonesia_date(Setting.first.glb1_b.to_date) %></li>
                        <li>Gelombang II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= indonesia_year(Setting.first.glb2_a.to_date) %> s/d <%= indonesia_date(Setting.first.glb2_b.to_date) %></li>
                    </ul>
                    <li>Sistem seleksi calon mahasiswa baru sebagai berikut :</li>
                    <ul>
                    <li>Seleksi kelengkapan administrasi</li>
                    <li>Wawancara umum (dilakukan pada saat daftar ulang)</li>
                    <li>Seleksi penelusuran minat dan bakat</li>
                    <li>Penerimaan mahasiswa baru diutamakan 150 calon pendaftar pertama</li>
                    </ul>
                    <li>Khusus bagi calon mahasiswa yang mendaftar sebelum tanggal <%= indonesia_date(Setting.first.glk_b.to_date) %> tidak dipungut biaya pendaftaran</li>
                    <li>Pendaftaran sewaktu - waktu dapat di tutup, jika quota mahasiswa baru telah terpenuhi</li>
                    <li>Keputusan panitia bersifat mutlak dan tidak dapat diganggu - gugat</li>
                </ol>
            </div>
            <div class="panel-heading">
                <h5>KETENTUAN KHUSUS</h5>
            </div>
            <div style="padding: 25px 11px">
                Biaya daftar ulang mahasiswa baru yang telah dibayarkan dapat diminta kembali apabila :
                <ol>
                    <li>Dinyatakan tidak lulus Ujian Nasional (UN) <%= Setting.first.ta %> dengan menunjukkan bukti tertulis dari sekolah</li>
                    <li>Diterima di Perguruan Tinggi Negeri jenjang strata satu tahun <%= Setting.first.ta %> (dibawah Departemen Pendidikan Nasional RI) malalui Program Seleksi Nasional Masuk Perguruan TInggi Negeri (SNMPTN), Seleksi Bersama Masuk Perguruan Tinggi Negeri (SBMPTN), program reguler melalui Ujian Masuk (UM) masing masing PTN yang dikelola secara otonomi atau melalui program bebas tes seleksi (PBUD) tahun <%= Setting.first.ta %> (dengan membawa bukti "DITERIMA"). Batas waktu pengambilan biaya daftar ulang tersebut maximal 30 hari setelah pengumuman. </li>
                </ol>
            </div>
            <div class="panel-heading">
                <h5>SYARAT SYARAT PENDAFTARAN</h5>
            </div>
            <div style="padding: 25px 11px">
                <ol>
                    <li>Lulusan SMA /SMK / MA semua jurusan</li>
                    <li>Pas foto berwarna 4x6 2 Lembar</li>
                    <li>Materai 6000 dan perangko kilat 2 buah</li>
                     <li>Fotocopy ijasah 2 lembar (dapat menyusul bagi yang masih kelas XII)</li>
                    <li>Biaya pendaftaran Rp. 100.000</li>
                    <li>Fotocopy akte kelahiran 2 lembar dan fotocopy identitas diri (KTP/SIM/Kertu Pelajar)</li>
                    
                   
                </ol>
            </div>
            <div class="panel-heading">
                <h5>TATACARA PEMBAYARAN</h5>
            </div>
            <div style="padding: 25px 11px">
                <ol>
                    <li>Langsung datang ke kampus AMA YPK Yogyakarta, Jl. Ringroad Timur No 43 Wonocatur.Telp. (0274) 516993, Fax. (0274) 516993 Yogyakarta atau</li>
                    <li>Transfer melalui Bank BPD DIY Cabang Utama No. Rek : 001.211002068 a/n Akademi Manajemen Administrasi YKP Yogyakarta atau</li>
                    <li>Transfer melalui Bank BRI KCP Gedung Kuning No. Rek : 1008-01-001992506 a/n Yayasan Pura Kumala</li>
                </ol>
            </div>
             <div class="panel-heading">
                <h5>CONTACT PERSON</h5>
            </div>
            <div style="font-weight: bold;
    padding: 25px 11px;
    text-align: center;">
                Joko Prasetyo : 087745433447<br />
                Marsini : 081327738677
            </div>
        </div>
    </div>
</div>
