/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2015, 6:18:12 PM
    Author     : andry
*/

.panel-heading {
    padding: 1px 14px;
}
label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
}

.content{
    padding: 5px;
}
