<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Selamat Datang di Website PMB AMA YPK Yogyakarta</title>

        <!-- Bootstrap core CSS -->
        <%= stylesheet_link_tag  "application", :media => "all" %>
        <%= javascript_include_tag "application" %>

        <!-- Custom styles for this template -->
        <link href="sticky-footer-navbar.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function () {
              $('#datatables').DataTable();
          });
        </script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PMB <%= Setting.first.ta %> AMA YPK Yogyakarta</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://www.amaypk.ac.id">Website AMA YPK</a></li>
                        <% if user_signed_in? %>
                          <li><a href="/admin/forms">Daftar Calon Mahasiswa</a></li>
                          <li><a href="/admin/settings">Settings</a></li>
                          <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Keluar</a></li>
                        <% else %>
                          <li><a href="/">Pendaftaran</a></li>
                        <% end %>
                        <!--<li><a href="#contact">Biaya Perkuliahan</a></li>
                        <li><a href="#contact">Prosedur Pendaftaran</a></li>-->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- Begin page content -->
        <div class="container" style="padding-top: 60px; padding-bottom: 30px;">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">PMB Akademi Manajemen Administrasi YPK Yogyakarta</p>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
